.footer {
  display: flex;
  align-items: center;
  height: 100%;
  vertical-align: bottom;
  background-color: aquamarine;
}
.madeBy,
.date {
  font-size: small;
  color: grey;
  margin: 0;
  padding: 0;
}

.madeBy {
  margin-right: 10px;
}
.date {
}
