.footer {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  vertical-align: bottom;
  background-color: #f5f5f5;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  margin: 5px;
}
.madeBy,
.date {
  padding: 10px;
  font-size: small;
  color: grey;
  position: relative;
}

.madeBy {
  margin-right: 10px;
  font-size: smaller;
}
.date {
  font-size: smaller;
}
