<div class="header">
  <mat-toolbar color="primary">
    <span style="color: #d9b08c; font-size: 30px">DevOops</span>
    <div class="right">
      <mat-slide-toggle
        color="accent"
        (click)="toggleDarkMode()"
        [(ngModel)]="isDarkMode"
      ></mat-slide-toggle>
      <button
        style="min-width: 120px; justify-content: right; margin-left: 0.5rem"
        mat-raised-button
        (click)="move()"
        color="accent"
      >
        {{ IsLogin ? "Regisztráció" : "Bejelentkezés" }}
      </button>
    </div>
  </mat-toolbar>
</div>
<app-login *ngIf="IsLogin"></app-login>
<app-register *ngIf="!IsLogin"></app-register>
<app-footer></app-footer>
