<div class="header">
  <mat-toolbar>
    <span style="color: Purple; font-size: 30px">DevOops</span>
    <div class="right">
      <mat-slide-toggle
        color="primary"
        [checked]="isDarkMode"
      ></mat-slide-toggle>
      <button
        style="min-width: 120px; justify-content: right; margin-left: 0.5rem"
        mat-button
        (click)="move()"
        color="primary"
        *ngIf="IsLogin"
      >
        Bejelnetkezés
      </button>
      <button
        style="min-width: 120px; justify-content: right; margin-left: 0.5rem"
        mat-button
        (click)="move()"
        color="primary"
        *ngIf="!IsLogin"
      >
        Regisztráció
      </button>
    </div>
  </mat-toolbar>
</div>
