<div class="example-box" cdkDrag>
  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
  <mat-expansion-panel
    style="width: 100%; height: auto"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header class="example-box" style="align-items: center">
      <mat-panel-title style="align-items: center">
        {{ name }} {{ id }}
        <div
          [id]="id"
          appPriorityDirective
          [color]="color"
          style="
            height: 0.8em;
            width: 4em;
            margin-left: 1em;
            border-radius: 10%;
            opacity: 60%;
          "
        ></div
      ></mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description style="height: auto; vertical-align: middle">
      <div style="width: 100%">
        <p style="float: left; width: 80%; overflow-x: auto">
          {{ desc }}
        </p>
        <button
          mat-icon-button
          color="accent"
          style="float: right"
          (click)="openTaskDialog()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-divider [inset]="true"></mat-divider>
</div>
