<mat-dialog-content>
  <mat-toolbar color="primary">Projekt tagok</mat-toolbar>
  <!-- <form class="example-form" [action]="toEmail" method="POST">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label
        >Felhasználó meghívása<mat-icon
          style="vertical-align: middle; margin-left: 1em"
          >email</mat-icon
        ></mat-label
      >
      <input
        name="email"
        type="email"
        placeholder="Válaszd ki az e-mail címet"
        aria-label="e-mail"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        required
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <input type="hidden" name="_subject" value="Projekt meghívó!" />
      <input type="hidden" name="message" value="Projekt meghívó!" />
      <input type="hidden" name="_next" value="http://localhost:4200/main" />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Meghívó küldése
    </button>
  </form>-->
  <form action="https://formsubmit.co/lokospatrik8@gmail.com" method="POST">
    <input type="text" name="name" required />
    <input type="email" name="email" required />
    <button type="submit">Send</button>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let con of contr; last as last">
      <p mat-line class="demo-2">{{ con.name }}</p>
      <div *ngIf="editing; else elseBlock">
        <mat-form-field appearance="fill">
          <mat-label>Szerepkörök</mat-label>
          <mat-select [value]="con.role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-template #elseBlock>
        <p>{{ con.role }}</p>
      </ng-template>
      <button mat-icon-button (click)="editing = !editing">
        <mat-icon color="accent">edit</mat-icon>
      </button>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="Btn">
    <button
      class="submitBtn"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
    >
      <span *ngIf="isLoading"
        ><mat-spinner
          color="accent"
          [diameter]="20"
          style="
            float: left;
            vertical-align: middle;
            margin-right: 10%;
            margin-top: 7%;
          "
        ></mat-spinner
      ></span>
      Módosítás
    </button>
    <button style="margin-left: 1em" mat-raised-button mat-dialog-close>
      Mégse
    </button>
  </div>
</mat-dialog-content>
