<ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'"></div>
  <div *ngSwitchCase="'vertical'"></div>
</ng-container>

<mat-stepper
  [orientation]="(stepperOrientation | async)!"
  #stepper
  style="
    display: contents;
    width: 80%;
    height: 80vh;
    justify-content: center;
    align-items: center;
  "
  color="primary"
>
  <ng-template matStepperIcon="edit" let-index="index">{{
    index + 1
  }}</ng-template>
  <ng-template matStepperIcon="done" let-index="index">{{
    index + 1
  }}</ng-template>
  <mat-step [label]="project.projectName" *ngFor="let project of projects">
    <app-project-card
      [projectName]="project.projectName"
      [listsData]="project.listsData"
    ></app-project-card>
  </mat-step>
</mat-stepper>
<div class="addProjectBtn">
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a bookmark icon"
    matTooltip="Projekt létrehozása."
    matTooltipPosition="below"
    matTooltipHideDelay="500"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
