<ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'"></div>
  <div *ngSwitchCase="'vertical'"></div>
</ng-container>

<mat-stepper
  [orientation]="(stepperOrientation | async)!"
  [linear]="false"
  #stepper
  style="
    display: contents;
    width: 80%;
    height: 80vh;
    justify-content: center;
    align-items: center;
  "
>
  <mat-step label="project name">
    <app-project-card></app-project-card>
    <div class="addProjectBtn" style="margin-left: 1%">
      <button
        mat-fab
        color="accent"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step>
    <app-project-card></app-project-card>
    <div class="addProjectBtn" style="margin-left: 1%">
      <button
        mat-fab
        color="accent"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <app-project-card></app-project-card>
    <div class="addProjectBtn" style="text-align: center; margin-top: 2rem">
      <button
        mat-fab
        color="accent"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>
