.wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
body {
  cursor: pointer;
}
